#auth {
  width: 100vw;
  height: 100vh;
  background: #fafafa;

  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 289px;
    height: 40px;
    margin: 0 10px;
    border: none;
    outline: none;
    margin-left: 20px;
    font-size: 0.875rem;

    &:placeholder-shown {
      color: #ccc;
    }
  }
}

.auth__div {
  width: 445px;
  height: 581px;
  background: #fff;
  padding: 42px 37px;
  border-radius: 10px;
  box-shadow: 0px 175px 49px 0 rgba(0, 0, 0, 0),
    0px 112px 45px 0 rgba(0, 0, 0, 0.01), 0px 63px 38px 0 rgba(0, 0, 0, 0.05),
    0px 28px 28px 0 rgba(0, 0, 0, 0.09), 0px 7px 15px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__header {
  width: 178px;
  height: 59.04px;
  margin: 20px 0; // 수정 login, register

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.auth__logo {
  object-fit: cover;
}

.auth__nav {
  display: flex;
  flex-direction: row;

  font-size: 0.813rem;
  font-weight: 700;
  color: #383fb0;

  white-space: nowrap;

  p {
    color: #252525;
    margin-right: 10px;
  }
}

.password__condition {
  font-size: 0.75rem;
  color: #a8a8a8;
  padding-left: 14px;
}

.auth__form__label {
  font-size: 0.75rem;
  font-weight: 700;
}

.auth__form__div {
  width: 370px;
  height: 50.3px;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin: 14px 0;
  padding: 0 0 0 5px;

  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 20px;
    object-fit: cover;
  }

  &:focus-within {
    border: 1px solid #383fb0;
  }
}

.auth__submit__button {
  width: 370px;
  height: 50.3px;
  margin: 14px 0 0 0; // 수정 login, register 다르게
  background: #383fb0;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.login__line {
  width: 370px;
  height: 1px;
  background: #ccc;
  margin: 34px 0;
}

.login__sns__block {
  width: 248px;
  height: 104px;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  p {
    margin: 0 0 24px 0;
    font-weight: 800;
    color: rgba(12, 8, 86, 0.8);
  }
}

.login__sns__button {
  width: 248px;
  height: 104px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
  }
}
