#auth {
  width: 100vw;
  height: 100vh;
  background: #fafafa;

  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 289px;
    height: 15px;
    margin: 0 10px 0 20px;
    border: none;
    outline: none;
    font-size: 0.875rem;
    font-weight: 700;
  }

  input::placeholder {
    color: #c6c6c6;
  }
}

.auth__form {
  margin: 34px 0 0 0;
}

.auth__div {
  width: 445px;
  height: 581px;
  background: #fff;
  padding: 40px 37px;
  border-radius: 10px;
  box-shadow: 0px 175px 49px 0 rgba(0, 0, 0, 0),
    0px 112px 45px 0 rgba(0, 0, 0, 0.01), 0px 63px 38px 0 rgba(0, 0, 0, 0.05),
    0px 28px 28px 0 rgba(0, 0, 0, 0.09), 0px 7px 15px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__header {
  width: 183px;
  height: 61px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.auth__logo {
  object-fit: cover;
}

.auth__nav {
  display: flex;
  flex-direction: row;
  gap: 5px;

  font-size: 0.8125rem;
  font-weight: 700;
  color: #383fb0;

  white-space: nowrap;

  p {
    color: #252525;
  }
}

.auth__form__div {
  width: 370px;
  height: 53.3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px,
    rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  border-radius: 16px;
  margin: 0 0 14px 0;
  padding: 0 0 0 8px;

  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 20px;
    height: 13.97px;
    object-fit: cover;
    visibility: hidden;
  }

  &:focus-within {
    box-shadow: rgba(56, 63, 176, 0.4) 0px 0px 0px 3px,
      rgba(56, 63, 176, 1) 0px 0px 0px 1px inset;
    img {
      visibility: visible;
    }
  }
}

.register__form__div {
  @extend .auth__form__div;
  margin: 5px 0 18px 0;
}

.register__form__div2 {
  @extend .auth__form__div;
  margin: 5px 0 0 0;
}

.register__form__label {
  font-size: 0.75rem;
  font-weight: 700;
}

.password__condition {
  margin: 5px 0 18px 15px;
  font-size: 0.75rem;
  color: #a8a8a8;
  font-weight: 700;
}

.auth__submit__button {
  width: 370px;
  height: 53.3px;
  margin: 14px 0 0 0;
  background: #383fb0;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: 800;
}

.register__submit__button {
  @extend .auth__submit__button;
  margin: 20px 0 0 0;
}

.login__line {
  width: 370px;
  height: 1px;
  background: #ccc;
  margin: 34px 0;
}

.login__sns__block {
  width: 248px;
  height: 104px;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  p {
    margin: 0 0 22px 0;
    font-weight: 700;
    font-size: 0.875rem;
    color: rgba(12, 8, 86, 0.8);
  }
}

.login__sns__button {
  width: 248px;
  height: 104px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
  }
}
