@import "../setting/mixin";
#header {
  filter: drop-shadow(0 0 0.7rem rgb(0 0 0 / 10%));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  img {
    width: 95px;
    height: 45px;
    margin: 0 0 0 137px;
    padding: 0 0 5px 0;
    object-fit: contain;
  }
  @include mobile {
    img {
      width: 70px;
      height: 30px;
      margin: 0 0 0 20px;
    }
  }

  @include tablet {
    img {
      margin: 0 0 0 50px;
    }
  }
}

.header__menu {
  ul {
    display: flex;
    margin: 137px;
    font-family: "NPSfont_regular";
    li {
      font-size: 0.875rem;
      font-weight: 700;

      #login {
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: #1e3456;
      }
      #register {
        padding: 0.47rem 0.7rem 0.47rem 0.7rem;
        margin: 0 0.625rem;
        border: 2px solid #383fb0;
        border-radius: 10px;
        transition: all 0.2s;
        color: #0c0856;
        font-weight: 800;

        &:hover {
          background-color: #ebfafe;
        }
      }
    }
  }

  .profile_img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid #9d9d9d;
    object-fit: cover;
  }

  .modal_btn {
    width: 24px;
    height: 24px;
    margin: 0 0 0 12px;
  }

  .modal_btn_container {
    display: flex;
    align-items: center;
  }

  @include mobile {
    ul {
      margin: 0 0.625rem 0 0;
      li {
        font-size: 0.75rem;
        #register {
          margin: 0;
          padding: 0.47rem 0.6rem 0.47rem 0.6rem;
        }
      }
    }

    .mobile_modal_btn {
      width: 24px;
      height: 24px;
      margin: 0 6px 0 12px;
    }
  }

  @include tablet {
    ul {
      margin: 0 40px 0 0;
    }
  }
}
