#header {
  filter: drop-shadow(0 0 0.7rem rgb(0 0 0 / 10%));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  img {
    width: 6.4375rem;
    height: 2.1875rem;
    margin: 0 0 0 137px;
    padding: 0 0 5px 0;
    object-fit: contain;
  }
}

.header__menu {
  ul {
    display: flex;
    margin: 137px;
    font-family: "Nanum Gothic", sans-serif;
    li {
      font-size: 0.875rem;
      font-weight: 700;

      #login {
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: #1e3456;
      }
      #register {
        padding: 0.47rem 0.7rem 0.47rem 0.7rem;
        margin: 0 0.625rem;
        border: 2px solid #383fb0;
        border-radius: 10px;
        transition: all 0.2s;
        color: #0c0856;
        font-weight: 800;

        &:hover {
          background-color: #ebfafe;
        }
      }
    }
  }
}
