#main__page {
  text-align: center;

  h1 {
    padding: 81px 0 0 0;
    font-size: 4rem;
    font-weight: 600;
    color: var(--textColor);
  }

  p {
    font-size: 1.5rem;
    color: #b8b8b8;
    margin-top: 10px;
  }

  div {
    width: 100vw;
    height: 42vh;
    margin: 30vh 0 0 0;
    background-color: rgba(33, 37, 127, 0.9);

    position: relative;

    li {
      list-style-type: none;
      img {
        margin-top: 6%;
        width: 23.125rem;
        height: 6.875rem;
        object-fit: contain;
        filter: drop-shadow(0 0 0.7rem rgb(0 0 0 / 50%));
      }
      h3 {
        display: block;
        margin-top: 1%;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--white);
      }
    }
  }

  #home__character {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    transform: translate(0%, -80%);
  }
}
