@import "../setting/mixin";
.loading-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;

  .loading-component {
    // width: 1000px;
    // height: 360px;
    // display: inline-block;
    text-align: center;

    margin: 250px 0 0 0;
    .loadig-img {
      // width: 30rem;
      // height: 15rem;
    }
    @include mobile {
      width: 250px;
      height: 100px;
      margin: 200px 0 0 0;
    }
    @include tablet {
      margin: 300px 0 0 0;
    }

    p {
      font-size: 3rem;
      font-family: "NPSfont_bold";
      color: #080635;

      @include mobile {
        font-size: 1.7rem;
      }
      @include tablet {
        font-size: 2.5rem;
      }
    }

    img {
      width: 200px;
      height: 200px; // 이거 수정 피그마에서 export하면 같은 크기로 나오나?
      margin: 0 0 50px 0;
      object-fit: contain;

      @include mobile {
        width: 100px;
        height: 100px;
      }
    }
  }
}
