@import "../setting/mixin";
#survey {
  width: 100%;
  height: 100%;
  background: --var(bgColor);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.survey__div {
  width: 100%;
  height: 100%;
  padding: 57px 235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile {
    padding: 40px 20px;
  }

  @include tablet {
    padding: 130px 70px;
  }
}

.survey__header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    width: 90%;
    height: 60px;
  }
}

.survey__header__title {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: end;

  font-size: 1rem;
  font-family: "NPSfont_bold";
}

.survey__progressbar__container {
  width: 100%;
  height: 15px;
  border-radius: 20px;
  background-color: #5490d9;
  position: relative;

  @include mobile {
    height: 10px;
  }
}
.survey__progressbar {
  height: 100%;
  border-radius: 20px;
  background-color: #383fb0;
  transition: width 0.5s ease-in-out;
}
.survey__progressbar__img {
  position: absolute;
  top: 0;
  left: 100%;
  width: 60px;
  height: 65px;
  transform: translate(-50%, -50%);
  transition: left 0.5s ease-in-out;

  @include mobile {
    width: 35px;
    height: 40px;
  }
}

.survey__form {
  width: 746px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey__form__query {
  font-size: 1.5rem;
  font-family: "NPSfont_bold";
  margin: 150px 0;
  display: flex;
  text-align: center;
  white-space: pre-line;

  @include mobile {
    font-size: 1.3rem;
    margin: 100px 0;
  }
}

.answer__form {
  width: 745.52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.survey__form__answer {
  width: 340.52px;
  height: 100px;

  margin: 0 0 20px;

  border: 3px solid #383fb0;
  border-radius: 16px;
  background-color: #fff;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  transition: all 0.2s;

  font-size: 1.25rem;
  font-family: "NPSfont_bold";
  color: #505050;

  &:hover {
    background-color: #5490d9;
    color: #fff;
    cursor: pointer;
  }

  @include mobile {
    width: 240px;
    height: 75px;
    font-size: 1rem;
  }

  @include tablet {
    margin: 0 0 40px 0;
  }
}
