@font-face {
  font-family: "NPSfont_bold";
  src: url("../../../../public/fonts/NPSfont_bold.woff") format("woff");
}
@font-face {
  font-family: "NPSfont_extrabold";
  src: url("../../../../public/fonts/NPSfont_extrabold.woff") format("woff");
}
@font-face {
  font-family: "NPSfont_regular";
  src: url("../../../../public/fonts/NPSfont_regular.woff") format("woff");
}
