body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "Open Sans", "Helvetica Neue", "Nanum Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; /*엘리먼트의 box-sizing 값을 border-box로 설정*/
  min-height: 100%;
}
